* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .game-container {
    text-align: center;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .hng-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(103, 103, 179);
  }
  
  .game-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: gray;
  }
  

  .game-description {
    font-size: 20px;
    margin-bottom: 15px;
    color: gray;
  }

  .color-box {
    height: 120px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .game-instructions {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    color: gray;
  }
  
  .color-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .color-option {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .color-option:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
  
  .game-status {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: gray;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .game-status.correct {
    color: green;
    animation: scaleUp 0.5s ease-in-out;
  }
  
  .game-status.wrong {
    color: red;
    animation: fadeOut 1s ease-in-out forwards;
  }
  
  .score {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .new-game-button {
    padding: 12px 20px;
    background-color: blue;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .new-game-button:hover {
    background-color: darkblue;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .game-container {
      width: 90%;
    }
  
    .color-options {
      gap: 8px;
    }
  
    .color-option {
      width: 50px;
      height: 50px;
    }
  
    .game-title {
      font-size: 22px;
    }
  
    .game-instructions {
      font-size: 16px;
    }
  
    .new-game-button {
      font-size: 14px;
      padding: 10px 16px;
    }
  }
  